// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

.card-tittle {
  font-size: small;
}

.card-text {
  font-size: smaller;
  color: grey;
}
